*{
    font-family:"Work Sans", sans-serif;
}
body{
    margin: 0;
}
:root{
    --maincolor:#f6f6f6;
    --secondcolor:#10cab7;
    --typecolor:#777;
}
.firstdiv{
    text-align: center;
    position: relative;
}
.title{
    font-size: 80px;
    color: hsl(0deg 8% 90%);
    font-weight: 900;
}
.text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    color: var(--typecolor);
}
/* /////////////////////////////header/////////////////////////////////////////////// */
nav{
    width: 90%;
    height: 22px;
    position: relative;
    margin: 25px auto;
}
.head{
    width: 100%;
    position: absolute;
    height: 69px;
    background: white;
    top: 0;
    left: 0;
}
nav .right{
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    cursor: pointer;
}
nav .right .list{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    transition-duration: 0.6s;
}
nav .right::before, nav .right::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: black;
}
nav .right::before{
    top: 0;
}
nav .right::after{
    bottom: 0;
}
nav .right:hover > .list{
    width: 40px;
}
nav .right:hover > .list > .field{
    visibility: visible;
}
nav .left{
    position: absolute;
    width: 30px;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
nav .left::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: black;
    border-radius: 30%;
}
nav .left::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 5px var(--secondcolor);
    right: 0;
}
nav .field{
    width: 220px;
    position: absolute;
    right: 0;
    top: 35px;
    visibility: hidden;
    transition-duration: .5s;
}
nav .field::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #ebeced;
    top: -8px;
    right: 4px;
    transform: rotate(45deg);
}
nav .field ul{
    list-style: none;
    margin: 0;
}
nav .field ul li{
    background: #ebeced;
    margin-left: -40px;
    padding: 10px 15px;
    font-size: 20px;
    border-bottom: solid 2px #c5bdbdad;
}
nav .field ul a{
    text-decoration: none;
    color: black;
    transition: .5s;
}
nav .field ul li:hover > a{
    margin-left: 25px;
}
/* //////////////////////////////sec1////////////////////////////////////////////////////////// */
.sec1{
    background: url(../media/backgroundgray.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.sec1 .center{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sec1 .p1{
    width: fit-content;
    color: #10cab7;
    font-size: 42px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}
.sec1 .p2{
    font-size: 19px;
    line-height: 1.5;
    text-align: center;
    width: 360px;
    margin-left: 50%;
    transform: translatex(-50%);
    margin-top: -20px;
}
/* ////////////////////////////////sec2//////////////////////////////////////////////////// */
.sec2{
    width: 100%;
    background: var(--maincolor);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 64px;
    box-sizing: border-box;
}
.sec2 div{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    box-sizing: border-box;
    justify-content: center;
}
.sec2 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.sec2 .two{
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
    font-size: 20px;
}
.sec2 .three{
    text-align: center;
    line-height: 1.7;
    margin-top: 0;
    color: var(--typecolor);
}
@media (max-width:992px) {
    .sec2{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
}
@media (max-width:768px) {
    .sec2{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
}
/* /////////////////////////////sec3////////////////////////////////////// */
.sec3{
    padding: 0 80px 50px 80px;
}
.sec3 .second{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 70%;
}
.sec3 .second .x{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.sec3 .second .x div{
    position: relative;
}
.sec3 .second .x img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-100%);
    left: -10px;
}
.sec3 .second .x .y{
    font-weight: bolder;
    font-size: 18px;
}
.sec3 .second .x .defe{
    line-height: 1.7;
    color: var(--typecolor);
}
.sec3 .second .imagetap{
    position: absolute;
    right: 30%;
    transform: translateX(70%);
}
.sec3 .second .imagetap::before{
    background: #2c4755;
    content: "";
    position: absolute;
    width: 85px;
    height: calc(100% + 64px);
    right: 0;
    top: -32px;
}
.sec3 .second .imagetap img{
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 360px;
}
@media (max-width:1200px){
    .sec3 .second .imagetap{
        visibility: hidden;
    }
    .sec3 .second{
        width: 100%;
    }
}
@media (max-width:767px){
    .sec3 .second{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
    }
    .sec3 .second .x img{
        transform: translate(-50%,-100%);
        left: 50%;
    }
    .sec3 .second .x .y{
        text-align: center;
    }
    .sec3 .second .x .defe {
        margin-bottom: 100px;
    }
}
/* /////////////////////////////sec4//////////////////////////////////////////////////////// */
#sec4{
    width: 100%;
    background: var(--maincolor);
}
#sec4 .main{
    display: grid;
    width: 85%;
    min-height: 100vh;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-around;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-bottom: 30px;
}
#sec4 .main div{
    width: 100%;
    height: 400px;
    background-color: white;
    padding-bottom: 20px;
}
#sec4 .main img{
    width: 100%;
    height: 60%;
}
#sec4 .main .a{
    padding: 0 20px;
    font-weight: 600;
    font-size: 18px;
}
#sec4 .main .b{
    padding: 0 20px;
    color: var(--typecolor);
    line-height: 1.5;
}
@media (max-width:1200px){
    #sec4 .main{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2,auto);
    }
}
@media (max-width:776px){
    #sec4 .main{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3,auto);
    }
}
/* ///////////////////////////////sec5///////////////////////////////////////////////////////// */
#sec5{
    height: 100vh;
}
#sec5 .second{
    display: flex;
    height: 300px;
}
#sec5 .second > div{
    height: 100%;
    position: relative;
}
#sec5 .second .one{
    width: 40%;
}
#sec5 .second .image{
    width: 230px;
    height: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#sec5 .second .image img{
    width: 100%;
    height: 100%;
}
#sec5 .second .image::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 420px;
    background: hsl(0deg 8% 90%);
    z-index: -1;
    left: -30px;
    top: -35px;
}
#sec5 .second .image::after{
    content: "";
    position: absolute;
    width: 110px;
    height: 270px;
    z-index: -1;
    right: -135px;
    border-left: solid 80px #10cab7;
    border-bottom: solid 80px #10cab7;
    top: -35px;
}
#sec5 .second .two{
    width: 60%;
    padding: 30px 100px;
    box-sizing: border-box;
    line-height: 30px;
}
#sec5 .second .two .top{
    font-weight: 700;
    padding-bottom: 40px;
}
#sec5 .second .two .down{
    color: var(--typecolor);
    padding-top: 20px;
}
#sec5 .second .two hr{
    width: 50%;
    margin-left: 0;
    background: #10cab7;
    height: 1px;
}
/* ////////////////////////////sec6//////////////////////////////////// */
#sec6{
    background-color: var(--maincolor);
    min-height: 80vh;
    padding-top: 1px;
}
#sec6 .second{
    text-align: center;
    line-height: .7;
}
#sec6 .second .top{
    font-size: xx-large;
    font-weight: bold;
    color: #2c4755;
}
#sec6 .second a{
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    color: #10cab7;
}
#sec6 .second div{
    padding-top: 15px;
}
#sec6 .second div p{
    line-height: 3.4;
    display: inline;
    padding-right: 5px;
}
#sec6 .second i{
    color: #2c4755;
}
/* /////////////////////////////foot////////////////////////////// */
footer{
    font-weight: 500;
    padding: 15px;
    text-align: center;
    font-size: larger;
    color: white;
    background: #2c4755;
}
footer span{
    color: #10cab7;
    font-weight: bolder;
}